body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

header {
    background-color: #0a2540;
    color: rgb(233, 228, 228);
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    background-color: #1f3b5b;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h2, h3 {
    color: #0a2540;
}

p {
    color: #f5efef;
}

img, iframe {
    display: block;
    margin: 15px 0;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #0a2540;
}

th {
    background-color: #0a2540;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    border: 2px solid #0a2540;
    padding: 15px;
    width: 300px;
    background-color: white;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    background-color: #0a2540;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

footer {
    background-color: #1f3b5b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
